# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

__pycache__
other/*
!other/jupyter-notebooks
other/jupyter-notebooks/Thesis chapter
other/jupyter-notebooks/.ipynb_checkpoints

todo
/data/*.csv
/data/*.txt
/api/flask_session
settings.json
.eslintrc.json

!other/jupyter-notebooks/Extraction and generation of data.ipynb
other/jupyter-notebooks/clustering.ipynb
other/jupyter-notebooks/elevation.txt
other/jupyter-notebooks/Test-geopanda.ipynb
other/jupyter-notebooks/Untitled.ipynb
